In [111]:
import pickle

In [112]:
with open("mdel.pkl","rb")as f:
      model=pickle.load(f)

In [113]:
model

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,0.000000,0.255319,0.0,0.644068,0.448276,0.5,0.600000,1.0,0.0,0.924444,0.551724,1.0
1,0.000002,1.000000,0.0,0.813559,0.000000,1.0,0.266667,0.0,0.5,0.507778,0.172414,1.0
2,0.000004,0.787234,0.0,0.220339,0.103448,0.6,0.600000,0.0,1.0,0.094444,0.068966,1.0
3,0.000007,0.851064,1.0,0.627119,0.689655,0.7,0.233333,1.0,0.5,0.328889,0.965517,1.0
4,0.000009,0.106383,1.0,0.525424,0.655172,0.5,0.266667,0.0,0.5,0.574444,0.655172,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440827,0.999991,0.510638,1.0,0.898305,0.482759,0.1,0.100000,0.5,0.0,0.684867,0.241379,0.0
440828,0.999993,0.148936,0.0,0.118644,0.413793,0.1,0.666667,0.5,0.0,0.717089,0.034483,0.0
440829,0.999996,0.170213,1.0,0.576271,0.896552,0.1,0.166667,1.0,1.0,0.974789,0.275862,0.0
440830,0.999998,0.212766,1.0,0.915254,0.448276,0.2,0.000000,1.0,1.0,0.558389,0.034483,0.0
440831,1.000000,0.276596,1.0,0.796610,0.655172,0.1,0.466667,0.5,1.0,0.519744,0.689655,0.0

In [114]:
model.shape

(440832, 12)

In [115]:
x=model.drop(columns="Churn")
y=model["Churn"]

In [116]:
from sklearn.model_selection import train_test_split

In [117]:
X_train,X_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=42)

In [118]:
import tensorflow as tf

In [119]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import TensorBoard

In [120]:
model2=Sequential([
    Dense(64,activation='relu',input_shape=(x.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1,activation="sigmoid")
])

e:\guvi project\churn dataser\env2\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [121]:
tf.keras.losses.BinaryCrossentropy

keras.src.losses.losses.BinaryCrossentropy

In [122]:
model2.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),  # Correct spelling of 'optimizer'
    loss=tf.keras.losses.BinaryCrossentropy(),              # Instantiate the loss function
    metrics=["accuracy"]
)

In [123]:
x

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,0.000000,0.255319,0.0,0.644068,0.448276,0.5,0.600000,1.0,0.0,0.924444,0.551724
1,0.000002,1.000000,0.0,0.813559,0.000000,1.0,0.266667,0.0,0.5,0.507778,0.172414
2,0.000004,0.787234,0.0,0.220339,0.103448,0.6,0.600000,0.0,1.0,0.094444,0.068966
3,0.000007,0.851064,1.0,0.627119,0.689655,0.7,0.233333,1.0,0.5,0.328889,0.965517
4,0.000009,0.106383,1.0,0.525424,0.655172,0.5,0.266667,0.0,0.5,0.574444,0.655172
...,...,...,...,...,...,...,...,...,...,...,...
440827,0.999991,0.510638,1.0,0.898305,0.482759,0.1,0.100000,0.5,0.0,0.684867,0.241379
440828,0.999993,0.148936,0.0,0.118644,0.413793,0.1,0.666667,0.5,0.0,0.717089,0.034483
440829,0.999996,0.170213,1.0,0.576271,0.896552,0.1,0.166667,1.0,1.0,0.974789,0.275862
440830,0.999998,0.212766,1.0,0.915254,0.448276,0.2,0.000000,1.0,1.0,0.558389,0.034483
440831,1.000000,0.276596,1.0,0.796610,0.655172,0.1,0.466667,0.5,1.0,0.519744,0.689655

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
X_train,X_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=42)

In [126]:
model2.fit(X_train,y_train,validation_data=[X_test,y_test],epochs=5,batch_size=32)

Epoch 1/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 29s 3ms/step - accuracy: 0.9806 - loss: 0.0523 - val_accuracy: 0.9929 - val_loss: 0.0169
Epoch 2/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 32s 3ms/step - accuracy: 0.9933 - loss: 0.0173 - val_accuracy: 0.9939 - val_loss: 0.0167
Epoch 3/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 29s 3ms/step - accuracy: 0.9942 - loss: 0.0149 - val_accuracy: 0.9947 - val_loss: 0.0138
Epoch 4/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 30s 3ms/step - accuracy: 0.9953 - loss: 0.0127 - val_accuracy: 0.9947 - val_loss: 0.0128
Epoch 5/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 32s 3ms/step - accuracy: 0.9951 - loss: 0.0125 - val_accuracy: 0.9955 - val_loss: 0.0133

In [127]:
title=model.columns
a=[4,35,"Male",9,12,5,17,"Premium","Quarterly",232,18,0]

In [128]:
import pandas as pd

In [129]:
a=pd.DataFrame(a,index=title)

In [130]:
a=a.transpose()

In [131]:
a

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0

In [132]:
with open("LabelEncoder.pkl","rb") as f:
    lb=pickle.load(f)

In [133]:
with open("Minmaxsacler.pkl","rb") as f:
    Ms=pickle.load(f)

In [134]:
a["Gender"]=lb.fit_transform(a["Gender"])
a["Subscription Type"]=lb.fit_transform(a["Subscription Type"])
a["Contract Length"]=lb.fit_transform(a["Contract Length"])

In [137]:
a.info(                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1 non-null      object
 1   Age                1 non-null      object
 2   Gender             1 non-null      int64
 3   Tenure             1 non-null      object
 4   Usage Frequency    1 non-null      object
 5   Support Calls      1 non-null      object
 6   Payment Delay      1 non-null      object
 7   Subscription Type  1 non-null      int64
 8   Contract Length    1 non-null      int64
 9   Total Spend        1 non-null      object
 10  Last Interaction   1 non-null      object
 11  Churn              1 non-null      object
dtypes: int64(3), object(9)
memory usage: 228.0+ bytes

In [136]:
a=Ms.fit_transform(Ms)

TypeError: float() argument must be a string or a real number, not 'MinMaxScaler'

In [100]:
a

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,4,35,0,9,12,5,17,0,0,232,18,0

In [103]:
a.drop(columns="Churn")

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,4,35,0,9,12,5,17,0,0,232,18

In [104]:

a_numeric = a.drop(columns="Churn").apply(pd.to_numeric, errors='coerce')

In [ ]:
model2.predict(a_numeric)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 115ms/step

array([[1.]], dtype=float32)